body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.menu-item {
  display: flex; /* default display value */
}

.menu-item.hide {
  display: none;
}